html {
    height: 100%;
}
body {
    background: #E3F2FD;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}
button {
    border-radius: 15px;
    background-color: #0D47A1;
    border: none;
    color: white;
}
nav {
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 960px;
    display: flex;
    justify-content: space-between;
    background: #2196F3;
}
nav>.Date {
    width: 200px;
    text-align: center;
}
nav>.NewTODO {
    text-align: right;
    padding: 0 10px;
}
nav>.NewTODO>input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: none;
    width: 300px;
}
nav>.NewTODO>button {
    font-size: calc( 5/4 * 1rem);
    background-color: #388E3C;
}
nav>.NewTODO>button:hover {
    background-color: #4CAF50;
}
main {
    margin: 1rem 0;
    background-color: #fafafa;
    flex: 1 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
main>h2 {
    text-align: center;
}
.TODOLIST {
    background-image: url(//basehold.it/i/24);
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 600px;
}
.TODOLIST>* {
    display: flex;
    box-sizing: border-box;
}
.TODOLIST__header {
    padding: 0.45rem 0;
    font-size: 2rem;
    width: 100%;
    background: #1976D2;
    color: white;
}
.TODOLIST__item {
    font-size: 1rem;
    width: 100%;
    transition: 0.2s;
}
.TODOLIST__item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.TODOLIST>*>input {
    margin-top: 0.5rem;
    width: 20px;
}
.TODOLIST__header >input{
    margin-top: 0.8rem;
}
.TODOLIST>*>label {
    text-align: center;
    flex: 1 0 auto;
}
.TODOLIST>*>button {
    transition: 0.1s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 40px;
}
.TODOLIST>*>button:hover {
    background-color: #F44336;
}
header,
footer {
    width: 100%;
    text-align: center;
}
footer {
    color: white;
    padding: 1rem 0;
    background-color: #0D47A1;
    font-size: 2rem;
}