html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #3F51B5;
    height: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    color: white;
    display: grid;
    grid-template-rows: 100px 100px auto 1fr auto;
}

header {
    grid-row: 1;
    text-align: center;
}

main {
    grid-row: 3;
    margin-bottom: 50px;
}

nav {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #7986CB;
    box-shadow: 0 8px 6px -7px black;
}

.Date {
    text-align: center;
    padding: 0 20px;
    grid-column: 1;
}

.NewTODO {
    text-align: center;
    padding: 0 20px;
    grid-column: 2;
}

.NewTODO input[type="text"] {
    width: 80%;
    font-size: 1.5em;
}

.NewTODO input[type="submit"] {
    margin-left: 5px;
    background: green;
    color: white;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    height: 1.3em;
    width: 1.3em;
    border-radius: 20px;
    transition: 0.2s all;
}

.NewTODO input[type="submit"]:hover {
    box-shadow: 0 4px 12px black;
    background: lightgreen;
    color: black;
}

.TODO {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.TODO .TODOLIST {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.TODO .TODOLIST li {
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: 20px 1fr 50px;
}

.TODO .TODOLIST li input[type="checkbox"] {
    grid-column: 1;
    width: 100%;
    height: 100%;
}

.TODO .TODOLIST li input[type="checkbox"]:checked+label:not(.desc_label) {
    color: red;
    text-decoration: line-through;
}

.TODO .TODOLIST li label {
    grid-column: 2;
    font-size: 1.2em;
}

.TODO .TODOLIST .Desc label {
    font-size: 1.7em;
    font-weight: bold;
}

.TODO .TODOLIST li:not(.Desc) {
    text-align: center;
    background-color: white;
    color: black;
    transition: 0.2s all;
}

.TODO .TODOLIST li button {
    grid-column: 3;
    margin-top: -5px;
    background: #3F51B5;
    color: white;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    height: 2.1em;
    padding: 3px;
    transition: 0.2s all;
    border-radius: 20px;
}

.TODO .TODOLIST li:not(.Desc) button {
    margin: 0 auto;
    height: 1.5em;
    width: 1.5em;
}

.TODO .TODOLIST li button:hover {
    box-shadow: 0 4px 12px black;
    background: red;
}

.TODO .TODOLIST li:not(.Desc):hover {
    margin: 8px 0px;
    box-shadow: 0 8px 6px -6px black;
}

.TODO .TODOLIST .Desc {
    background-color: #7986CB;
}

footer {
    grid-row: 5;
    background-color: #303F9F;
    padding: 10px;
    text-align: center;
}

.text-red {
    color: red;
}