html {
    height: 100%;
}

body {
    background: #E3F2FD;
    margin:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}
header{
    font-size:0.9rem;
}

button {

    background-color: #0D47A1;
    border: none;
    color: white;
}
nav {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    background: #2196F3;
}
nav>.Date {
    margin-top: 0.2rem;
    width: 200px;
    text-align: center;
}
nav >.Date> p{
    font-size: 1.4rem;
}
nav>.NewTODO {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 10px;
}
nav>.NewTODO>input {
    flex:1 0 calc(90% - 0.2rem);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    padding-left:0.2rem;
    max-width: 600px;
    margin-top:-0.8rem;
    height:1.3rem;
    
}
nav>.NewTODO>button {
    font-size: calc( 5/4 * 1rem);

    background-color: #388E3C;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex:1 0 10%;
    margin-top:-0.8rem;
    height:1.44rem;
    max-width: 2rem;
}
nav>.NewTODO>button:hover {
    background-color: #4CAF50;
}
main {
    max-width: 720px;
    margin: 1.4rem 0;
    background-color: #fafafa;
    flex: 1 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
main>h2 {
    text-align: center;
}
.TODOLIST {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;


}
.TODOLIST>* {
    display: flex;
    box-sizing: border-box;
}
.TODOLIST__header {
    padding: 1.1rem 0;
    font-size: 2rem;
    width: 100%;
    background: #1976D2;
    color: white;
}
.TODOLIST__item {
    font-size: 1.3rem;
    width: 100%;
    transition: 0.2s;
}
.TODOLIST__item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.TODOLIST>*>input {
    margin-top: 0.3rem;
    width: 20px;
}
.TODOLIST__header >input{
   
    margin-top: 0.8rem;
}
.TODOLIST>*>label {
    text-align: center;
    flex: 1 0 auto;
}
.TODOLIST>*>button {
    transition: 0.1s;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    min-width: 40px;
}
.TODOLIST>*>button:hover {
    background-color: #F44336;
}
header,
footer {
    width: 100%;
    text-align: center;
}
footer {
    color: white;
    padding: 1.3rem 0;
    background-color: #0D47A1;
    font-size: 1.4rem;
}